html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
}
.objectmenu {
  display:block;
  background-color: #fff;
  border-right: 1px solid #DEDEDE;
  padding: 40px 20px;
}
.singleobject {
  display:block;
  background-color: #fff;
  padding: 40px 20px;
}

.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}

/* input[name="accordion-select"], .panel-block { */
  /* display: none; */
/* } */
/* input[name="accordion-select"], .panel-tabs { */
  /* display: none; */
/* } */
  /* label.panel-heading { */
  /* cursor: pointer; */
  /* display: block; */
/* } */

the magic
/* #panel-1:checked ~ .panel > .body-1, */
/* #panel-2:checked ~ .panel > .body-2, */
/* #panel-3:checked ~ .panel > .body-3,  */
/* #panel-4:checked ~ .panel > .body-4 { */
  /* display: flex; */
/* } */
/* #panel-1:checked ~ .panel > .tab-1, */
/* #panel-2:checked ~ .panel > .tab-2, */
/* #panel-3:checked ~ .panel > .tab-3, */
/* #panel-4:checked ~ .panel > .tab-4 { */
  /* display: flex; */
/* } */

.box ul {
  list-style-type: circle;
}
.box li {
  margin-left: 15px;
}
.box h1 {font-size: 24px;}
.box h2 {font-size: 20px;}

/* CSS Treeview Styles */

.shorten-long-text{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
/* CSS Treeview Styles */
ol.tree { padding: 0 0 0 30px; margin-bottom: 40px; margin-top: 10px; width: 300px; }
li { position: relative; margin-left: -18px; list-style: none;}
li.lstrech { margin-left: -1px !important; }
li.is-rech-entwurf a { background: url(../assets/icons/png/page.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-rech-ok a { background: url(../assets/icons/png/ok.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-rech-mail a { background: url(../assets/icons/png/mail.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-deleted a { background: url(../assets/icons/png/delete.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-trash a { background: url(../assets/icons/png/bin.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-archiv a { background: url(../assets/icons/png/cabinet.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-kun-w a { background: url(../assets/icons/png/boy-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-kun-m a { background: url(../assets/icons/png/boy-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-kun-b a { background: url(../assets/icons/png/boy-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-kun-f a { background: url(../assets/icons/png/hotel-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
li.is-kun-n a { background: url(../assets/icons/png/file-edit-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }
 
li input { position: absolute; left: 0; opacity: 0; margin-left: 0; cursor: pointer; z-index: 2; width: 1em; height: 1em; top: 0; }
li input + ol { background: url(../assets/icons/png/toggle-expand.png) 40px 0 no-repeat; height: 1em; margin: -0.938em 0 0 -44px; }
li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
li label { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstprj { background: rgba(0, 0, 0, 0) url(../assets/icons/png/building.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstobj { background: rgba(0, 0, 0, 0) url(../assets/icons/png/home.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstver { background: rgba(0, 0, 0, 0) url(../assets/icons/png/pen.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstdar { background: rgba(0, 0, 0, 0) url(../assets/icons/png/Euro-icon.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstdarall { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstkun { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstplan { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstverd { background: rgba(0, 0, 0, 0) url(../assets/icons/png/Coin-icon.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstnot { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstprjall { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lsttrash { background: rgba(0, 0, 0, 0) url(../assets/icons/png/bin.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.lstarchiv { background: rgba(0, 0, 0, 0) url(../assets/icons/png/box.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li label.is-deleted { background: rgba(0, 0, 0, 0) url(../assets/icons/png/delete.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li input:checked + ol { background: rgba(0, 0, 0, 0) url(../assets/icons/png/toggle-collapse.png) no-repeat scroll 40px 5px; height: auto; margin: -1.25em 0 0 -44px; padding: 1.563em 0 0 80px; }
li input + ol { position: relative; top: -3px; }
li input:checked + ol > li { background: rgba(167, 25, 25, 0); display: block; margin: 0 0 0.125em; }
li input:checked + ol > li:last-child { margin: 0 0 0.063em; }

li label.menurnb { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li.menurnb a { background: url(../assets/icons/png/signature-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }

li label.menuprov { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li.menuprov a { background: url(../assets/icons/png/business-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }

li label.menuark { background: rgba(0, 0, 0, 0) url(../assets/icons/png/folder-symbol.png) no-repeat scroll 12px 3px; padding-left: 36px; cursor: pointer; display: block; }
li.menuark a { background: url(../assets/icons/png/todo-icon.png) 0 4px no-repeat; display: block; padding-left: 21px;  text-decoration: none; }


a{color:black;}

td.referenz { 
  color: rgb(25, 8, 184);
  text-decoration: underline;
}

.aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
  margin-left: 12px;
}

.left {
  flex-basis: 20%;
}

.bar {
  overflow-y: auto;
  height: 100vh;	
  padding: 10px;
}
.right {
  flex-basis: 80%;
  height: 100vh; 
  overflow-y: auto;
  scroll-margin-right: 12em;

}
body {
  overflow: hidden;
  padding-right: 13px;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 0.7em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgb(140, 140, 140);
}

.highlight {
  background-color: rgb(228, 228, 225) !important;
}

.inbox-messages .card {
  width: 100%;
}
.inbox-messages .card-content {
  padding: 5px 2px 0px 5px;
  border-style: dashed none none none;
  border-color: #ededed;

}
.inbox-messages .msg-check {
  padding: 0 20px;
}
.inbox-messages .msg-subject {
  padding: 10px 0;
  color: #5D5D5D;
}
.inbox-messages .msg-subject .fa {
  font-size: 14px;
  padding:3px 0;
}
.inbox-messages .msg-timestamp {
  float: right;
  padding: 0 20px;
  color: #5D5D5D;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.button.is-pantone{
background-color: #8c7855;

}
.button.is-grey{
background-color: #6b6b6b;
}
